@{
    ViewData["Title"] = "Hjem";
}

<div class="text-center">
    <h1 class="display-4">
        Velkommen til Brewtopia!
    </h1>
    <img src="https://i1.wp.com/gastromand.dk/wordpress/wp-content/uploads/2019/07/IMG_20190801_094000.jpg?fit=3648%2C1880&ssl=1" alt="Velkomstbillede" class="img-fluid my-4" style="max-width: 50%; height: auto;">

    <p>
        Hej og velkommen til vores webshop – stedet, hvor passion for øl møder kvalitet og smag!<br />
        Hos os finder du et nøje udvalgt sortiment af spændende specialøl, klassiske favoritter og unikke bryg fra både danske mikrobryggerier og internationale bryghuse. Uanset om du er ølentusiasteller bare er på udkig efter en ny favorit, har vi noget for enhver smag.<br /><br />
        Gå på opdagelse i vores øl-univers<br />
        Forkæl dine smagsløg med alt fra kraftige stouts, forfriskende IPA'er, fyldige ales til sprøde lagers. Vi har sørget for at udvælge de bedste øl, så du altid kan finde nye oplevelser og klassiske must-haves.<br /><br />
        Hurtig levering & sikker handel<br />
        Vi ved, at god øl ikke kan vente – derfor sørger vi for hurtig og sikker levering lige til din dør.<br />
        Skål og god shopping!<br />
        Vi håber, du finder netop dét, du søger. Har du spørgsmål eller brug for hjælp, er du altid velkommen til at kontakte os.
        Velkommen til øl-fællesskabet!<br />
        Cheers fra Brewtopia teamet!.
    </p>
</div>

<div class="modal fade" id="ageVerificationModal" tabindex="-1" role="dialog" aria-labelledby="ageVerificationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ageVerificationModalLabel">Er du fyldt 18 år?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" id="confirmAgeBtn">Ja</button>
                    <button type="button" class="btn btn-danger" id="rejectAgeBtn">Nej</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var showModal = '@ViewData["ShowAgeVerificationModal"]';

            if (showModal === 'True') {
                $('#ageVerificationModal').modal('show');
            }

            $('#confirmAgeBtn').on('click', function () {
                $.ajax({
                    url: '@Url.Action("ConfirmAge", "Home")', 
                    type: 'POST', 
                    success: function (response) {
                        $('#ageVerificationModal').modal('hide');
                    },
                    error: function () {
                        alert('An error occurred while confirming age.');
                    }
                });
            });

            $('#rejectAgeBtn').on('click', function () {
                window.location.href = "https://www.google.com";
            });
        });
    </script>
}